@page "/fornecedor"

@inject HttpClient http

<h3>Fornecedor</h3>
<p>
    <a href="/addfornecedor">Criar Novo Fornecedor</a>
</p>
@if (fornecedor == null)
{
    <img src="" />
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Razão Social</th>
                <th>CNPJ</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fornec in fornecedor)
            {
                <tr>
                    <td>@fornec.razaosocial</td>
                    <td>@fornec.cnpj</td>
                    <td>@fornec.telefone</td>
                    <td>
                        <a href='/editafornecedor/@fornec.fornecedorId'>Editar</a>
                        <a href='/deletefornecedor/@fornec.fornecedorId'>Excluir</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}

@code {
    List<Fornecedor> fornecedor;
  //  string baseUrl;

    protected override async Task OnInitializedAsync()
    {
        fornecedor = await http.GetJsonAsync<List<Fornecedor>>("/api/fornecedor");
    }
} 